body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #010025, #0dc6df);
    font-family: 'Arial', sans-serif;
    color: white;
    overflow: hidden;
  }

  .back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #000000d3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .back-btn:hover {
    background-color: #333;
  }